/*ellipsis为文字在盒子中溢出时，用逗号显示*/
ellipsis()
  -webkit-overflow :hidden
  -webkit-white-space :nowrap
  -webkit-text-overflow : ellipsis

  -moz-overflow :hidden
  -moz-white-space :nowrap
  -moz-text-overflow : ellipsis

  -ms-overflow :hidden
  -ms-white-space :nowrap
  -ms-text-overflow : ellipsis

  -o-overflow :hidden
  -o-white-space :nowrap
  -o-text-overflow : ellipsis

  overflow :hidden
  white-space :nowrap
  text-overflow : ellipsis


